.shuffl_app {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  .app_header {
    height: 80px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;

    .app_title {
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
    }
  }

  .cover_playlist_container {
    flex: 1;
    background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    border: 2px solid red;

    .media_cover {
      flex: 2;
      background-color: lightcoral;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;

      .cover_image {
        max-height: 150px;
        max-width: 150px;
        border: 2px solid green;
      }
    }

    .media_playlist {
      flex: 1;
      background-color: violet;
      position: relative;
      border: 2px solid palegreen;

      .media_list {
        border: 2px solid green;
        .media_list_card {
          margin-bottom: 1rem;
        }

        .current_media_playing {
          border: 2px solid blue;
        }
      }

      .media_file_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        border: 2px solid red;
      }
    }
  }

  .media_controls {
    background-color: green;
    width: 100%;
    height: 125px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;

    .seek_controls {
      border: 2px solid black;

      .media_seek {
        width: 100%;
      }
    }

    .media_btn_container {
      background-color: crimson;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      border: 2px solid turquoise;

      .invisible_spacer {
        background-color: darkorchid;
        margin-right: auto;
        visibility: hidden;
      }

      //Center this box later
      .play_track_controls {
        width: 200px;
        display: flex;
        justify-content: space-between;
        border: 2px solid violet;

        .media_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border: 2px solid blue;

          .btn_img {
            width: 25px;
          }
        }
      }

      .vol_playlist_controls {
        margin-left: auto;
      }
    }
  }
}
