@import './index.scss';

.color_background {
  // background: linear-gradient(45deg, blue 20%, green 100%) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  // &.playing {
  //   animation: colorChange 20s alternate infinite;
  // }
}

// @keyframes colorChange {
//   from {
//     filter: hue-rotate(0deg);
//   }
//   to {
//     filter: hue-rotate(360deg);
//   }
// }

.shuffl_app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  backdrop-filter: blur(25px);

  .app_header {
    height: 80px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $theme_color;

    .app_title {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
    }
  }

  .cover_playlist_container {
    flex: 1;
    display: flex;
    justify-content: space-around;

    .media_cover {
      flex: 1;
      max-width: 500px;
      height: 500px;
      padding: 25px;
      border-radius: 50px;
      box-shadow: 0 20px 20px lightgray;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .cover_img {
        max-height: 150px;
        max-width: 150px;
      }
    }

    .media_filedrop_playlist {
      flex: 2;
      position: relative;
      border-left: 3px solid $theme_color;
      padding-left: 20px;

      .media_playlist_container {
        .media_playlist {
          height: 700px;
          overflow: hidden;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 15px;
          }

          &::-webkit-scrollbar-track {
            margin-top: 2px;
            margin-bottom: 2px;
            background: lightgray;
          }

          &::-webkit-scrollbar-thumb {
            background: $theme_color;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: $theme_color;
          }
          .media_list_card {
            display: flex;
            align-items: center;
            justify-content: left;
            min-height: 50px;
            padding: 10px;
            border: 1px solid lightgray;
            margin: 2px 2px 2px 0;
          }
          .current_media_playing {
            padding: 7px;
            border: 4px solid $theme_color;
          }
        }
      }

      .media_file_overlay {
        color: lightgray;
        font-size: 2.5rem;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.9;
        margin: 2px 15px 2px 5px;
        background-color: $theme_color;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
      }
    }
  }

  .media_controls {
    width: 100%;
    height: 125px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .seek_controls {
      .media_seek {
        height: 3px;
        width: 100%;

        &::-webkit-slider-thumb {
          appearance: none;
          width: 15px;
          height: 15px;
          background-color: $theme_color;
          border-radius: 50%;

          &:hover {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .media_btn_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      .invisible_spacer {
        margin-right: auto;
        visibility: hidden;
      }

      .play_track_controls {
        width: 200px;
        display: flex;
        justify-content: space-between;

        .media_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;

          .btn_img {
            width: 25px;
          }
        }
      }

      .vol_controls {
        margin-left: auto;
      }
    }
  }
}
