@import './assets/reset.scss';

$theme_color: #673ab7;

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bebebe; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: $theme_color; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c216a; 
}

input[type='range'] {
  height: 1px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: lightgray;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: $theme_color;
    border-radius: 50%;
  }
}
